examples/simple/simple-example-flow.json
[
  {
    "id": "f883a924.634888",
    "type": "inject",
    "z": "8b7bffe2.a8516",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 160,
    "wires": [["2c1b51c.b7c63ae"]]
  },
  {
    "id": "b168c25.7641b4",
    "type": "mqtt out",
    "z": "8b7bffe2.a8516",
    "name": "Integration",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "fed1f646.9e36b8",
    "x": 630,
    "y": 200,
    "wires": []
  },
  {
    "id": "5dc7f55d.478b2c",
    "type": "publish",
    "z": "8b7bffe2.a8516",
    "name": "",
    "x": 180,
    "y": 280,
    "wires": [["b168c25.7641b4"]]
  },
  {
    "id": "249128e5.5c6498",
    "type": "connect",
    "z": "8b7bffe2.a8516",
    "name": "",
    "key": "",
    "password": "",
    "x": 280,
    "y": 40,
    "wires": [["b168c25.7641b4"]]
  },
  {
    "id": "8fbe51ee.41a39",
    "type": "inject",
    "z": "8b7bffe2.a8516",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 40,
    "wires": [["249128e5.5c6498"]]
  },
  {
    "id": "4403c3df.15dafc",
    "type": "inject",
    "z": "8b7bffe2.a8516",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 100,
    "wires": [["4c7f6f10.38b27"]]
  },
  {
    "id": "4c7f6f10.38b27",
    "type": "disconnect",
    "z": "8b7bffe2.a8516",
    "name": "",
    "key": "",
    "password": "",
    "x": 290,
    "y": 100,
    "wires": [["b168c25.7641b4"]]
  },
  {
    "id": "dc658da8.55e51",
    "type": "inject",
    "z": "8b7bffe2.a8516",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "x": 130,
    "y": 380,
    "wires": [["68a701f2.12afd"]]
  },
  {
    "id": "68a701f2.12afd",
    "type": "keepAlive",
    "z": "8b7bffe2.a8516",
    "name": "",
    "key": "",
    "password": "",
    "x": 300,
    "y": 380,
    "wires": [["b168c25.7641b4", "e7bbb0a7.0b115"]]
  },
  {
    "id": "e7bbb0a7.0b115",
    "type": "debug",
    "z": "8b7bffe2.a8516",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 530,
    "y": 380,
    "wires": []
  },
  {
    "id": "2c1b51c.b7c63ae",
    "type": "getRandomNumber",
    "z": "8b7bffe2.a8516",
    "name": "",
    "minimum": "-20",
    "maximum": "80",
    "x": 180,
    "y": 200,
    "wires": [["937b24ec.6f2ca8"]]
  },
  {
    "id": "937b24ec.6f2ca8",
    "type": "addSensorReading",
    "z": "8b7bffe2.a8516",
    "reference": "T",
    "x": 190,
    "y": 240,
    "wires": [["5dc7f55d.478b2c"]]
  },
  {
    "id": "fed1f646.9e36b8",
    "type": "mqtt-broker",
    "z": "",
    "name": "api-integration",
    "broker": "api-integration.wolksense.com",
    "port": "1883",
    "tls": "773d20df.db2a4",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/",
    "closeQos": "2",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/",
    "willQos": "2",
    "willPayload": "Gone offline"
  },
  {
    "id": "773d20df.db2a4",
    "type": "tls-config",
    "z": "",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "ca.crt",
    "servername": "",
    "verifyservercert": true
  }
]
