examples/simple/simple-example-flow.json
[
  {
    "id": "7815c40.5848c3c",
    "type": "inject",
    "z": "da8f01f4.13dc7",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 160,
    "wires": [["eacaa0da.a81c"]]
  },
  {
    "id": "e106bc48.6b657",
    "type": "mqtt out",
    "z": "da8f01f4.13dc7",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "4ed39552.e1366c",
    "x": 710,
    "y": 200,
    "wires": []
  },
  {
    "id": "b1c694ae.d048a8",
    "type": "publish",
    "z": "da8f01f4.13dc7",
    "x": 440,
    "y": 220,
    "wires": [["ce24fb80.fccc78"]]
  },
  {
    "id": "c5f5492a.a49db8",
    "type": "connect",
    "z": "da8f01f4.13dc7",
    "key": "",
    "password": "",
    "x": 280,
    "y": 40,
    "wires": [["e106bc48.6b657"]]
  },
  {
    "id": "ad032bb2.b49508",
    "type": "inject",
    "z": "da8f01f4.13dc7",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 40,
    "wires": [["c5f5492a.a49db8"]]
  },
  {
    "id": "749dc439.62881c",
    "type": "inject",
    "z": "da8f01f4.13dc7",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 100,
    "wires": [["5b2ff306.07b0bc"]]
  },
  {
    "id": "5b2ff306.07b0bc",
    "type": "disconnect",
    "z": "da8f01f4.13dc7",
    "x": 290,
    "y": 100,
    "wires": [["e106bc48.6b657"]]
  },
  {
    "id": "7d9980a4.d9a72",
    "type": "inject",
    "z": "da8f01f4.13dc7",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "900",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "x": 130,
    "y": 340,
    "wires": [["f7f179a2.964108"]]
  },
  {
    "id": "f7f179a2.964108",
    "type": "keepAlive",
    "z": "da8f01f4.13dc7",
    "name": "",
    "x": 300,
    "y": 340,
    "wires": [["e106bc48.6b657"]]
  },
  {
    "id": "7072e9f4.c43908",
    "type": "addSensorReading",
    "z": "da8f01f4.13dc7",
    "value": "",
    "reference": "T",
    "msgComplete": true,
    "timestamp": false,
    "x": 190,
    "y": 240,
    "wires": [["e48b24fc.81b638"]]
  },
  {
    "id": "eacaa0da.a81c",
    "type": "getRandomValue",
    "z": "da8f01f4.13dc7",
    "name": "",
    "minimum": "-25",
    "maximum": "80",
    "readingsAmount": "",
    "boolean": false,
    "threshold": 50,
    "x": 190,
    "y": 200,
    "wires": [["7072e9f4.c43908"]]
  },
  {
    "id": "e48b24fc.81b638",
    "type": "join",
    "z": "da8f01f4.13dc7",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 430,
    "y": 180,
    "wires": [["b1c694ae.d048a8"]]
  },
  {
    "id": "ce24fb80.fccc78",
    "type": "json",
    "z": "da8f01f4.13dc7",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 260,
    "wires": [["e106bc48.6b657"]]
  },
  {
    "id": "4ed39552.e1366c",
    "type": "mqtt-broker",
    "z": "",
    "name": "WolkAbout Demo",
    "broker": "api-demo.wolkabout.com",
    "port": "1883",
    "tls": "",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "Gone offline"
  }
]
