examples/simple/simple-example-flow.json
[
  {
    "id": "35daf7a0.7a1aa8",
    "type": "tab",
    "label": "Simple Example Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "f0b66f40.ba83a",
    "type": "inject",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 160,
    "wires": [["252ebe20.d95c72"]]
  },
  {
    "id": "cae52aab.d40828",
    "type": "mqtt out",
    "z": "35daf7a0.7a1aa8",
    "name": "Integration",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "fed1f646.9e36b8",
    "x": 630,
    "y": 200,
    "wires": []
  },
  {
    "id": "f9b88b2d.8fc628",
    "type": "publish",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "x": 200,
    "y": 320,
    "wires": [["cae52aab.d40828"]]
  },
  {
    "id": "13f38368.6864fd",
    "type": "connect",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "key": "udvua0k0xp99z64a",
    "password": "e7d4d28d-616f-4891-ab6a-a17a2df46f9f",
    "x": 280,
    "y": 40,
    "wires": [["cae52aab.d40828"]]
  },
  {
    "id": "9a46e3e6.2afd9",
    "type": "inject",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 40,
    "wires": [["13f38368.6864fd"]]
  },
  {
    "id": "f1cdbe11.65d9f",
    "type": "inject",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 100,
    "wires": [["75919a8e.f77de4"]]
  },
  {
    "id": "75919a8e.f77de4",
    "type": "disconnect",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "key": "",
    "password": "",
    "x": 290,
    "y": 100,
    "wires": [["cae52aab.d40828"]]
  },
  {
    "id": "28828442.f9605c",
    "type": "inject",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "x": 130,
    "y": 380,
    "wires": [["111dac6.df1ab54"]]
  },
  {
    "id": "111dac6.df1ab54",
    "type": "keepAlive",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "key": "",
    "password": "",
    "x": 300,
    "y": 380,
    "wires": [["cae52aab.d40828", "7cb32fe0.e12b7"]]
  },
  {
    "id": "7cb32fe0.e12b7",
    "type": "debug",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 530,
    "y": 380,
    "wires": []
  },
  {
    "id": "252ebe20.d95c72",
    "type": "getRandomNumber",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "minimum": "-20",
    "maximum": "80",
    "x": 180,
    "y": 200,
    "wires": [["5ab434d9.849e4c"]]
  },
  {
    "id": "5ab434d9.849e4c",
    "type": "addSensorReading",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "reference": "T",
    "x": 190,
    "y": 240,
    "wires": [["2edca98.56d6556"]]
  },
  {
    "id": "2edca98.56d6556",
    "type": "outboundMessage",
    "z": "35daf7a0.7a1aa8",
    "name": "",
    "x": 200,
    "y": 280,
    "wires": [["f9b88b2d.8fc628"]]
  },
  {
    "id": "fed1f646.9e36b8",
    "type": "mqtt-broker",
    "z": "",
    "name": "api-integration",
    "broker": "api-integration.wolksense.com",
    "port": "1883",
    "tls": "773d20df.db2a4",
    "clientid": "udvua0k0xp99z64a",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/udvua0k0xp99z64a",
    "closeQos": "2",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/udvua0k0xp99z64a",
    "willQos": "2",
    "willPayload": "Gone offline"
  },
  {
    "id": "773d20df.db2a4",
    "type": "tls-config",
    "z": "",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "ca.crt",
    "servername": "",
    "verifyservercert": true
  }
]
