examples/full-feature-set/full-example-flow.json
[
  {
    "id": "3b6f9240.a437fe",
    "type": "inject",
    "z": "5697cb0d.2d9814",
    "name": "Send random values from sensors/alarms",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0",
    "x": 200,
    "y": 200,
    "wires": [
      [
        "39d4c8e3.3f47f8",
        "5f37ad.53ecb854",
        "30010c13.e5de24",
        "8618ef6d.0780f",
        "85fb5268.3fd91"
      ]
    ]
  },
  {
    "id": "f6234ca0.5831",
    "type": "inject",
    "z": "5697cb0d.2d9814",
    "name": "Connect device",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 40,
    "wires": [["54af5095.6278c"]]
  },
  {
    "id": "7ecba967.8f5718",
    "type": "inject",
    "z": "5697cb0d.2d9814",
    "name": "Disconnect device",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 120,
    "wires": [["f98e44e2.d43c48"]]
  },
  {
    "id": "f98e44e2.d43c48",
    "type": "disconnect",
    "z": "5697cb0d.2d9814",
    "x": 470,
    "y": 120,
    "wires": [["e42e73e1.6c358"]]
  },
  {
    "id": "fdae14f5.d9c7b8",
    "type": "inject",
    "z": "5697cb0d.2d9814",
    "name": "Send keepalive",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 130,
    "y": 160,
    "wires": [["8d320112.97745"]]
  },
  {
    "id": "8d320112.97745",
    "type": "keepAlive",
    "z": "5697cb0d.2d9814",
    "name": "",
    "x": 460,
    "y": 160,
    "wires": [["e42e73e1.6c358"]]
  },
  {
    "id": "12b626c5.416069",
    "type": "addSensorReading",
    "z": "5697cb0d.2d9814",
    "name": "",
    "value": "",
    "reference": "T",
    "msgComplete": false,
    "timestamp": true,
    "x": 490,
    "y": 240,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "d4d33096.d9ddd",
    "type": "addSensorReading",
    "z": "5697cb0d.2d9814",
    "value": "",
    "reference": "H",
    "msgComplete": false,
    "timestamp": true,
    "x": 490,
    "y": 320,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "2f70d5d2.fbd02a",
    "type": "addSensorReading",
    "z": "5697cb0d.2d9814",
    "value": "",
    "reference": "P",
    "msgComplete": false,
    "timestamp": true,
    "x": 490,
    "y": 400,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "3bf69d81.6e1392",
    "type": "outboundMessageQueue",
    "z": "5697cb0d.2d9814",
    "maxData": "10",
    "x": 1030,
    "y": 440,
    "wires": [["dda9d605.050588", "8f7f143a.e49718"]]
  },
  {
    "id": "e42e73e1.6c358",
    "type": "mqtt out",
    "z": "5697cb0d.2d9814",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "8d1d5d78.61824",
    "x": 1250,
    "y": 140,
    "wires": []
  },
  {
    "id": "dda9d605.050588",
    "type": "publish",
    "z": "5697cb0d.2d9814",
    "x": 980,
    "y": 400,
    "wires": [["10f95faf.84eed"]]
  },
  {
    "id": "d6e2a1de.f34ef",
    "type": "join",
    "z": "5697cb0d.2d9814",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 830,
    "y": 440,
    "wires": [["3bf69d81.6e1392"]]
  },
  {
    "id": "c95ffb84.5fb398",
    "type": "addSensorReading",
    "z": "5697cb0d.2d9814",
    "value": "",
    "reference": "ACL",
    "msgComplete": false,
    "timestamp": true,
    "x": 490,
    "y": 480,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "3fd71641.94b0ca",
    "type": "mqtt in",
    "z": "5697cb0d.2d9814",
    "name": "",
    "topic": "actuators/commands/device-key/SL",
    "qos": "2",
    "datatype": "auto",
    "broker": "8d1d5d78.61824",
    "x": 180,
    "y": 800,
    "wires": [["17b1bed4.7d49e1"]]
  },
  {
    "id": "2123ddb0.357262",
    "type": "actuationHandler",
    "z": "5697cb0d.2d9814",
    "value": "",
    "reference": "SL",
    "returnValue": true,
    "msgComplete": true,
    "x": 610,
    "y": 800,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "54af5095.6278c",
    "type": "connect",
    "z": "5697cb0d.2d9814",
    "key": "",
    "password": "",
    "logFile": "log.json",
    "x": 460,
    "y": 40,
    "wires": [["a9316be7.a6ac28"]]
  },
  {
    "id": "e39f8f8.5c6437",
    "type": "addAlarm",
    "z": "5697cb0d.2d9814",
    "name": "",
    "value": "true",
    "reference": "HH",
    "msgComplete": true,
    "timestamp": true,
    "x": 460,
    "y": 560,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "a9316be7.a6ac28",
    "type": "actuatorStatusProvider",
    "z": "5697cb0d.2d9814",
    "name": "",
    "actuatorReferences": "SW; SL",
    "msgComplete": true,
    "x": 660,
    "y": 40,
    "wires": [["d6e2a1de.f34ef", "6e82a393.a643ac"]]
  },
  {
    "id": "6e82a393.a643ac",
    "type": "configurationProvider",
    "z": "5697cb0d.2d9814",
    "name": "",
    "configurationReferences": "config_1;config_2;config_3;config_4;",
    "configurationValues": "0;false;configuration_3;configuration_4a,configuration_4b,configuration_4c",
    "msgComplete": true,
    "x": 660,
    "y": 80,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "10f95faf.84eed",
    "type": "json",
    "z": "5697cb0d.2d9814",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 970,
    "y": 360,
    "wires": [["e42e73e1.6c358"]]
  },
  {
    "id": "17b1bed4.7d49e1",
    "type": "json",
    "z": "5697cb0d.2d9814",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 450,
    "y": 800,
    "wires": [["2123ddb0.357262"]]
  },
  {
    "id": "f0052bee.ab8d38",
    "type": "mqtt in",
    "z": "5697cb0d.2d9814",
    "name": "",
    "topic": "actuators/commands/device-key/SW",
    "qos": "2",
    "datatype": "auto",
    "broker": "8d1d5d78.61824",
    "x": 180,
    "y": 860,
    "wires": [["2cb95bea.f50124"]]
  },
  {
    "id": "29acc19d.06a1be",
    "type": "actuationHandler",
    "z": "5697cb0d.2d9814",
    "value": "",
    "reference": "SW",
    "returnValue": true,
    "msgComplete": true,
    "x": 610,
    "y": 860,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "2cb95bea.f50124",
    "type": "json",
    "z": "5697cb0d.2d9814",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 450,
    "y": 860,
    "wires": [["29acc19d.06a1be"]]
  },
  {
    "id": "3e82f477.f0560c",
    "type": "mqtt in",
    "z": "5697cb0d.2d9814",
    "name": "",
    "topic": "configurations/commands/device-key",
    "qos": "2",
    "datatype": "auto",
    "broker": "8d1d5d78.61824",
    "x": 180,
    "y": 920,
    "wires": [["112d1264.578b6e"]]
  },
  {
    "id": "1e1baa19.21fd76",
    "type": "configurationHandler",
    "z": "5697cb0d.2d9814",
    "configurationReferences": "config_1;config_2;config_3;config_4;",
    "configurationValues": "1;true;string;multi-a,multi-b,multi-c",
    "msgComplete": true,
    "x": 620,
    "y": 920,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "112d1264.578b6e",
    "type": "json",
    "z": "5697cb0d.2d9814",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 450,
    "y": 920,
    "wires": [["1e1baa19.21fd76"]]
  },
  {
    "id": "34917478.1b05ac",
    "type": "actuationHandler",
    "z": "5697cb0d.2d9814",
    "name": "",
    "value": "",
    "reference": "SW",
    "returnValue": false,
    "msgComplete": false,
    "x": 490,
    "y": 640,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "c5c3c54.b434e38",
    "type": "actuationHandler",
    "z": "5697cb0d.2d9814",
    "name": "",
    "value": "",
    "reference": "SL",
    "returnValue": false,
    "msgComplete": true,
    "x": 490,
    "y": 720,
    "wires": [["d6e2a1de.f34ef"]]
  },
  {
    "id": "78e84080.d1414",
    "type": "inject",
    "z": "5697cb0d.2d9814",
    "name": "Send random values from actuators",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 600,
    "wires": [["579806a9.9fdcd8", "70fd7ab.d2c4a84"]]
  },
  {
    "id": "39d4c8e3.3f47f8",
    "type": "getRandomValue",
    "z": "5697cb0d.2d9814",
    "name": "",
    "minimum": "-40",
    "maximum": "85",
    "readingsAmount": 1,
    "isBoolean": false,
    "threshold": 50,
    "x": 490,
    "y": 200,
    "wires": [["12b626c5.416069"]]
  },
  {
    "id": "5f37ad.53ecb854",
    "type": "getRandomValue",
    "z": "5697cb0d.2d9814",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": 1,
    "isBoolean": false,
    "threshold": 50,
    "x": 490,
    "y": 280,
    "wires": [["d4d33096.d9ddd"]]
  },
  {
    "id": "30010c13.e5de24",
    "type": "getRandomValue",
    "z": "5697cb0d.2d9814",
    "name": "",
    "minimum": "300",
    "maximum": "1100",
    "readingsAmount": 1,
    "isBoolean": false,
    "threshold": 50,
    "x": 490,
    "y": 360,
    "wires": [["2f70d5d2.fbd02a"]]
  },
  {
    "id": "8618ef6d.0780f",
    "type": "getRandomValue",
    "z": "5697cb0d.2d9814",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "3",
    "threshold": 50,
    "x": 489,
    "y": 440,
    "wires": [["c95ffb84.5fb398"]]
  },
  {
    "id": "85fb5268.3fd91",
    "type": "getRandomValue",
    "z": "5697cb0d.2d9814",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": 1,
    "isBoolean": true,
    "threshold": "80",
    "x": 490,
    "y": 520,
    "wires": [["e39f8f8.5c6437"]]
  },
  {
    "id": "579806a9.9fdcd8",
    "type": "getRandomValue",
    "z": "5697cb0d.2d9814",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": 1,
    "isBoolean": true,
    "threshold": "50",
    "x": 490,
    "y": 600,
    "wires": [["34917478.1b05ac"]]
  },
  {
    "id": "70fd7ab.d2c4a84",
    "type": "getRandomValue",
    "z": "5697cb0d.2d9814",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": 1,
    "threshold": "50",
    "x": 490,
    "y": 680,
    "wires": [["c5c3c54.b434e38"]]
  },
  {
    "id": "954a818c.25a7",
    "type": "file",
    "z": "5697cb0d.2d9814",
    "name": "",
    "filename": "log.json",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 980,
    "y": 520,
    "wires": [[]]
  },
  {
    "id": "8f7f143a.e49718",
    "type": "json",
    "z": "5697cb0d.2d9814",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 970,
    "y": 480,
    "wires": [["954a818c.25a7"]]
  },
  {
    "id": "e9e02be7.c186a8",
    "type": "configurationHandler",
    "z": "5697cb0d.2d9814",
    "configurationReferences": "config_1;config_2;config_3;config_4;",
    "configurationValues": "0;false;configuration_3;configuration_4a,configuration_4b,configuration_4c",
    "returnValue": false,
    "msgComplete": false,
    "x": 500,
    "y": 760,
    "wires": [[]]
  },
  {
    "id": "b10edbaf.729f28",
    "type": "inject",
    "z": "5697cb0d.2d9814",
    "name": "Send custom configuration values",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 170,
    "y": 760,
    "wires": [["e9e02be7.c186a8"]]
  },
  {
    "id": "8d1d5d78.61824",
    "type": "mqtt-broker",
    "z": "",
    "name": "WolkAbout Demo",
    "broker": "api-demo.wolkabout.com",
    "port": "1883",
    "tls": "11e62f6e.37ede1",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "Gone offline"
  },
  {
    "id": "11e62f6e.37ede1",
    "type": "tls-config",
    "z": "",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "ca.pem",
    "servername": "",
    "verifyservercert": true
  }
]
