examples/full-feature-set/full-feature-set-flow.json
[
  {
    "id": "fc250af.63a2cf8",
    "type": "inject",
    "z": "dc60df1c.e4a77",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": "0",
    "x": 110,
    "y": 300,
    "wires": [
      [
        "6aabc095.02ce",
        "7e68c5e8.26d94c",
        "3324937e.73387c",
        "a6403d38.f4676",
        "fba75e34.9fbb3"
      ]
    ]
  },
  {
    "id": "b1de82c5.46eac",
    "type": "inject",
    "z": "dc60df1c.e4a77",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 40,
    "wires": [["a6cca4ed.b3b6f8", "2a16d30c.72e29c", "1b755338.b3957d"]]
  },
  {
    "id": "38a0990e.3f87e6",
    "type": "inject",
    "z": "dc60df1c.e4a77",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 180,
    "wires": [["c580e29a.37fae"]]
  },
  {
    "id": "c580e29a.37fae",
    "type": "disconnect",
    "z": "dc60df1c.e4a77",
    "name": "",
    "key": "",
    "password": "",
    "x": 370,
    "y": 180,
    "wires": [["37185523.2a1e3a"]]
  },
  {
    "id": "20ee7dbc.7c0292",
    "type": "inject",
    "z": "dc60df1c.e4a77",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 240,
    "wires": [["e25a800e.8680a"]]
  },
  {
    "id": "e25a800e.8680a",
    "type": "keepAlive",
    "z": "dc60df1c.e4a77",
    "name": "",
    "key": "",
    "password": "",
    "x": 360,
    "y": 240,
    "wires": [["37185523.2a1e3a"]]
  },
  {
    "id": "6aabc095.02ce",
    "type": "getRandomNumber",
    "z": "dc60df1c.e4a77",
    "name": "",
    "minimum": "-20",
    "maximum": "80",
    "x": 390,
    "y": 300,
    "wires": [["e711e29f.14226"]]
  },
  {
    "id": "e711e29f.14226",
    "type": "addSensorReading",
    "z": "dc60df1c.e4a77",
    "value": "",
    "reference": "T",
    "msgComplete": false,
    "x": 390,
    "y": 340,
    "wires": [["a642901a.84a44"]]
  },
  {
    "id": "7e68c5e8.26d94c",
    "type": "getRandomNumber",
    "z": "dc60df1c.e4a77",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "x": 390,
    "y": 380,
    "wires": [["f39f3ed5.d90ad"]]
  },
  {
    "id": "f39f3ed5.d90ad",
    "type": "addSensorReading",
    "z": "dc60df1c.e4a77",
    "value": "",
    "reference": "H",
    "msgComplete": false,
    "x": 390,
    "y": 420,
    "wires": [["a642901a.84a44"]]
  },
  {
    "id": "3324937e.73387c",
    "type": "getRandomNumber",
    "z": "dc60df1c.e4a77",
    "name": "",
    "minimum": "300",
    "maximum": "1100",
    "x": 390,
    "y": 460,
    "wires": [["e0c31a41.10ec58"]]
  },
  {
    "id": "e0c31a41.10ec58",
    "type": "addSensorReading",
    "z": "dc60df1c.e4a77",
    "value": "",
    "reference": "P",
    "msgComplete": false,
    "x": 390,
    "y": 500,
    "wires": [["a642901a.84a44"]]
  },
  {
    "id": "46eb872a.d1e428",
    "type": "outboundMessageQueue",
    "z": "dc60df1c.e4a77",
    "maxData": "1",
    "x": 810,
    "y": 440,
    "wires": [["9c4fe3db.dbc26"]]
  },
  {
    "id": "37185523.2a1e3a",
    "type": "mqtt out",
    "z": "dc60df1c.e4a77",
    "name": "Ver2Actuators",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "d18ba115.12cda",
    "x": 1120,
    "y": 300,
    "wires": []
  },
  {
    "id": "9c4fe3db.dbc26",
    "type": "publish",
    "z": "dc60df1c.e4a77",
    "name": "",
    "x": 760,
    "y": 400,
    "wires": [["e01ac758.679728"]]
  },
  {
    "id": "a642901a.84a44",
    "type": "join",
    "z": "dc60df1c.e4a77",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 750,
    "y": 480,
    "wires": [["46eb872a.d1e428"]]
  },
  {
    "id": "a6403d38.f4676",
    "type": "getRandomNumber",
    "z": "dc60df1c.e4a77",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "x": 390,
    "y": 540,
    "wires": [["44f6088a.a454f8"]]
  },
  {
    "id": "44f6088a.a454f8",
    "type": "addSensorReading",
    "z": "dc60df1c.e4a77",
    "value": "",
    "reference": "ACL",
    "msgComplete": true,
    "x": 390,
    "y": 580,
    "wires": [["a642901a.84a44"]]
  },
  {
    "id": "30688649.43aaaa",
    "type": "mqtt in",
    "z": "dc60df1c.e4a77",
    "name": "",
    "topic": "actuators/commands/9dh57te4ylcxb8ph/SW",
    "qos": "2",
    "broker": "d18ba115.12cda",
    "x": 190,
    "y": 720,
    "wires": [["ab47d8fd.173648"]]
  },
  {
    "id": "6e6ffa1d.d912b4",
    "type": "setActuator",
    "z": "dc60df1c.e4a77",
    "value": "",
    "reference": "SW",
    "x": 590,
    "y": 720,
    "wires": [["e0225781.2ddc98"]]
  },
  {
    "id": "cfedd5a4.40e258",
    "type": "mqtt in",
    "z": "dc60df1c.e4a77",
    "name": "",
    "topic": "actuators/commands/9dh57te4ylcxb8ph/SL",
    "qos": "2",
    "broker": "d18ba115.12cda",
    "x": 180,
    "y": 780,
    "wires": [["e1d0748c.0ab558"]]
  },
  {
    "id": "1f8c58aa.faccd7",
    "type": "setActuator",
    "z": "dc60df1c.e4a77",
    "value": "",
    "reference": "SL",
    "x": 590,
    "y": 780,
    "wires": [["e0225781.2ddc98"]]
  },
  {
    "id": "a6cca4ed.b3b6f8",
    "type": "connect",
    "z": "dc60df1c.e4a77",
    "key": "9dh57te4ylcxb8ph",
    "password": "36498f6c-aff7-4ad5-8c6e-1cd9fb15c46d",
    "x": 360,
    "y": 40,
    "wires": [[]]
  },
  {
    "id": "e0225781.2ddc98",
    "type": "join",
    "z": "dc60df1c.e4a77",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 810,
    "y": 720,
    "wires": [["4ec4e5f4.0e42cc"]]
  },
  {
    "id": "4ec4e5f4.0e42cc",
    "type": "publish",
    "z": "dc60df1c.e4a77",
    "name": "",
    "x": 820,
    "y": 760,
    "wires": [["33b00db3.9c8712"]]
  },
  {
    "id": "fba75e34.9fbb3",
    "type": "getRandomNumber",
    "z": "dc60df1c.e4a77",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "boolean": true,
    "x": 390,
    "y": 620,
    "wires": [["57ac75e2.dedb7c"]]
  },
  {
    "id": "57ac75e2.dedb7c",
    "type": "addAlarm",
    "z": "dc60df1c.e4a77",
    "value": "",
    "reference": "HH",
    "msgComplete": true,
    "x": 360,
    "y": 660,
    "wires": [["e0225781.2ddc98"]]
  },
  {
    "id": "47784535.ff4b4c",
    "type": "mqtt in",
    "z": "dc60df1c.e4a77",
    "name": "",
    "topic": "configurations/commands/9dh57te4ylcxb8ph",
    "qos": "2",
    "broker": "d18ba115.12cda",
    "x": 190,
    "y": 840,
    "wires": [["8c2d7e4b.75d1c"]]
  },
  {
    "id": "2a16d30c.72e29c",
    "type": "actuatorStatusProvider",
    "z": "dc60df1c.e4a77",
    "actuatorReferences": "SW; SL",
    "x": 400,
    "y": 80,
    "wires": [["37185523.2a1e3a"]]
  },
  {
    "id": "1b755338.b3957d",
    "type": "configurationProvider",
    "z": "dc60df1c.e4a77",
    "configurationReferences": "config_1;config_2;config_3;config_4;",
    "configurationValues": "0;false;configuration_3;configuration_4a,configuration_4b,configuration_4c",
    "x": 400,
    "y": 120,
    "wires": [["37185523.2a1e3a"]]
  },
  {
    "id": "744d4f74.e535",
    "type": "setConfiguration",
    "z": "dc60df1c.e4a77",
    "configurationReferences": "",
    "configurationValues": "",
    "x": 600,
    "y": 840,
    "wires": [["e0225781.2ddc98"]]
  },
  {
    "id": "ab47d8fd.173648",
    "type": "json",
    "z": "dc60df1c.e4a77",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 720,
    "wires": [["6e6ffa1d.d912b4"]]
  },
  {
    "id": "e1d0748c.0ab558",
    "type": "json",
    "z": "dc60df1c.e4a77",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 780,
    "wires": [["1f8c58aa.faccd7"]]
  },
  {
    "id": "8c2d7e4b.75d1c",
    "type": "json",
    "z": "dc60df1c.e4a77",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 440,
    "y": 840,
    "wires": [["744d4f74.e535"]]
  },
  {
    "id": "e01ac758.679728",
    "type": "json",
    "z": "dc60df1c.e4a77",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 750,
    "y": 360,
    "wires": [["37185523.2a1e3a"]]
  },
  {
    "id": "33b00db3.9c8712",
    "type": "json",
    "z": "dc60df1c.e4a77",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 810,
    "y": 800,
    "wires": [["37185523.2a1e3a"]]
  },
  {
    "id": "d18ba115.12cda",
    "type": "mqtt-broker",
    "z": "",
    "name": "Verification Actuators",
    "broker": "api-verification2.wolksense.com",
    "port": "1883",
    "clientid": "9dh57te4ylcxb8ph",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/9dh57te4ylcxb8ph",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/9dh57te4ylcxb8ph",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "Gone offline"
  }
]
