examples/full-feature-set/full-example-flow.json
[
  {
    "id": "532e65f4.2d423c",
    "type": "inject",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0",
    "x": 100,
    "y": 200,
    "wires": [
      [
        "8ba672b3.16402",
        "83819e0.8fb8f6",
        "abae8a50.b59358",
        "c18290c4.6722c",
        "d5aea37f.2f6af"
      ]
    ]
  },
  {
    "id": "23c2b00c.1b609",
    "type": "inject",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 40,
    "wires": [["2d6bc1aa.a3441e"]]
  },
  {
    "id": "8e5d33fd.d55fc",
    "type": "inject",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 120,
    "wires": [["b58a7a30.75d3d8"]]
  },
  {
    "id": "b58a7a30.75d3d8",
    "type": "disconnect",
    "z": "182314be.924a5b",
    "name": "",
    "key": "",
    "password": "",
    "x": 370,
    "y": 120,
    "wires": [["2f0f7f27.78bed"]]
  },
  {
    "id": "45b2a8fd.864738",
    "type": "inject",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 160,
    "wires": [["ca95dc75.90578"]]
  },
  {
    "id": "ca95dc75.90578",
    "type": "keepAlive",
    "z": "182314be.924a5b",
    "name": "",
    "key": "",
    "password": "",
    "x": 360,
    "y": 160,
    "wires": [["2f0f7f27.78bed"]]
  },
  {
    "id": "e87e88ce.caf938",
    "type": "addSensorReading",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "T",
    "msgComplete": false,
    "timestamp": true,
    "x": 390,
    "y": 240,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "77fce4aa.b745cc",
    "type": "addSensorReading",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "H",
    "msgComplete": false,
    "timestamp": true,
    "x": 390,
    "y": 320,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "5b710b8a.8adf54",
    "type": "addSensorReading",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "P",
    "msgComplete": false,
    "timestamp": true,
    "x": 390,
    "y": 400,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "e72dcd97.593bf",
    "type": "outboundMessageQueue",
    "z": "182314be.924a5b",
    "maxData": "5",
    "x": 930,
    "y": 440,
    "wires": [["e39d0057.9c10f"]]
  },
  {
    "id": "2f0f7f27.78bed",
    "type": "mqtt out",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "4ed39552.e1366c",
    "x": 1130,
    "y": 280,
    "wires": []
  },
  {
    "id": "e39d0057.9c10f",
    "type": "publish",
    "z": "182314be.924a5b",
    "name": "",
    "x": 880,
    "y": 400,
    "wires": [["8b8951ad.737a8"]]
  },
  {
    "id": "a65348d5.dc5058",
    "type": "join",
    "z": "182314be.924a5b",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 730,
    "y": 440,
    "wires": [["e72dcd97.593bf"]]
  },
  {
    "id": "f1e79768.6212a8",
    "type": "addSensorReading",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "ACL",
    "msgComplete": false,
    "timestamp": true,
    "x": 390,
    "y": 480,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "e55bcb4.b43c138",
    "type": "mqtt in",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "actuators/commands/device-key/SL",
    "qos": "2",
    "datatype": "auto",
    "broker": "4ed39552.e1366c",
    "x": 160,
    "y": 760,
    "wires": [["5d1e6752.9593f8"]]
  },
  {
    "id": "f7d65610.d02dc8",
    "type": "actuationHandler",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "SL",
    "returnValue": true,
    "msgComplete": true,
    "x": 530,
    "y": 760,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "2d6bc1aa.a3441e",
    "type": "connect",
    "z": "182314be.924a5b",
    "key": "",
    "password": "",
    "x": 360,
    "y": 40,
    "wires": [["7e6e1520.5be6dc", "2398ebba.ae5a24"]]
  },
  {
    "id": "d21bac11.7a924",
    "type": "addAlarm",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "HH",
    "msgComplete": true,
    "timestamp": false,
    "x": 360,
    "y": 560,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "2398ebba.ae5a24",
    "type": "actuatorStatusProvider",
    "z": "182314be.924a5b",
    "actuatorReferences": "SW; SL",
    "x": 560,
    "y": 80,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "7e6e1520.5be6dc",
    "type": "configurationProvider",
    "z": "182314be.924a5b",
    "configurationReferences": "config_1;config_2;config_3;config_4;",
    "configurationValues": "0;false;configuration_3;configuration_4a,configuration_4b,configuration_4c",
    "msgComplete": true,
    "x": 560,
    "y": 40,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "8b8951ad.737a8",
    "type": "json",
    "z": "182314be.924a5b",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 870,
    "y": 360,
    "wires": [["2f0f7f27.78bed"]]
  },
  {
    "id": "5d1e6752.9593f8",
    "type": "json",
    "z": "182314be.924a5b",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 760,
    "wires": [["f7d65610.d02dc8"]]
  },
  {
    "id": "2133e1f0.2844ae",
    "type": "mqtt in",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "actuators/commands/device-key/SW",
    "qos": "2",
    "datatype": "auto",
    "broker": "4ed39552.e1366c",
    "x": 160,
    "y": 820,
    "wires": [["4f0653ce.de596c"]]
  },
  {
    "id": "892349ea.94bf48",
    "type": "actuationHandler",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "SW",
    "returnValue": true,
    "msgComplete": true,
    "x": 530,
    "y": 820,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "4f0653ce.de596c",
    "type": "json",
    "z": "182314be.924a5b",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 820,
    "wires": [["892349ea.94bf48"]]
  },
  {
    "id": "946ae4a5.0ad018",
    "type": "mqtt in",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "configurations/commands/device-key",
    "qos": "2",
    "datatype": "auto",
    "broker": "4ed39552.e1366c",
    "x": 160,
    "y": 880,
    "wires": [["229468a8.64e968"]]
  },
  {
    "id": "e53d0a7c.be63f8",
    "type": "configurationHandler",
    "z": "182314be.924a5b",
    "configurationReferences": "",
    "configurationValues": "",
    "x": 540,
    "y": 880,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "229468a8.64e968",
    "type": "json",
    "z": "182314be.924a5b",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 880,
    "wires": [["e53d0a7c.be63f8"]]
  },
  {
    "id": "1a45a3bc.beffcc",
    "type": "actuationHandler",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "SW",
    "returnValue": false,
    "msgComplete": false,
    "x": 390,
    "y": 640,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "d600e3dd.cc687",
    "type": "actuationHandler",
    "z": "182314be.924a5b",
    "value": "",
    "reference": "SL",
    "returnValue": false,
    "msgComplete": true,
    "x": 390,
    "y": 720,
    "wires": [["a65348d5.dc5058"]]
  },
  {
    "id": "ed81f043.9c2a7",
    "type": "inject",
    "z": "182314be.924a5b",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 600,
    "wires": [["d71d9586.8c3a98", "5e9480b8.f0d9d"]]
  },
  {
    "id": "8ba672b3.16402",
    "type": "getRandomValue",
    "z": "182314be.924a5b",
    "name": "",
    "minimum": "-40",
    "maximum": "85",
    "readingsAmount": "",
    "boolean": false,
    "threshold": 50,
    "x": 390,
    "y": 200,
    "wires": [["e87e88ce.caf938"]]
  },
  {
    "id": "83819e0.8fb8f6",
    "type": "getRandomValue",
    "z": "182314be.924a5b",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "",
    "boolean": false,
    "threshold": 50,
    "x": 390,
    "y": 280,
    "wires": [["77fce4aa.b745cc"]]
  },
  {
    "id": "abae8a50.b59358",
    "type": "getRandomValue",
    "z": "182314be.924a5b",
    "name": "",
    "minimum": "300",
    "maximum": "1100",
    "readingsAmount": "",
    "boolean": false,
    "threshold": 50,
    "x": 389,
    "y": 360,
    "wires": [["5b710b8a.8adf54"]]
  },
  {
    "id": "c18290c4.6722c",
    "type": "getRandomValue",
    "z": "182314be.924a5b",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "3",
    "boolean": false,
    "threshold": 50,
    "x": 390,
    "y": 440,
    "wires": [["f1e79768.6212a8"]]
  },
  {
    "id": "d5aea37f.2f6af",
    "type": "getRandomValue",
    "z": "182314be.924a5b",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "",
    "boolean": true,
    "threshold": "70",
    "x": 390,
    "y": 520,
    "wires": [["d21bac11.7a924"]]
  },
  {
    "id": "d71d9586.8c3a98",
    "type": "getRandomValue",
    "z": "182314be.924a5b",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "",
    "boolean": true,
    "threshold": 50,
    "x": 390,
    "y": 600,
    "wires": [["1a45a3bc.beffcc"]]
  },
  {
    "id": "5e9480b8.f0d9d",
    "type": "getRandomValue",
    "z": "182314be.924a5b",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "",
    "boolean": false,
    "threshold": 50,
    "x": 388,
    "y": 680,
    "wires": [["d600e3dd.cc687"]]
  },
  {
    "id": "4ed39552.e1366c",
    "type": "mqtt-broker",
    "z": "",
    "name": "WolkAbout Demo",
    "broker": "api-demo.wolkabout.com",
    "port": "1883",
    "tls": "",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "Gone offline"
  }
]
