examples/full-feature-set/full-example-flow.json
[
  {
    "id": "3470abbc.68d064",
    "type": "inject",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "0",
    "x": 100,
    "y": 240,
    "wires": [
      [
        "454cd448.7a525c",
        "277ae6f5.344d6a",
        "adeeb930.a26ee8",
        "d4e248b0.092318",
        "31f1b66b.8e2eba",
        "a2f8867f.85ccc8",
        "c801ac5e.49909"
      ]
    ]
  },
  {
    "id": "d5917239.b54a8",
    "type": "inject",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 40,
    "wires": [["74fe025a.8da79c"]]
  },
  {
    "id": "2cfe1b9b.126794",
    "type": "inject",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 140,
    "wires": [["bc518e8a.c0e59"]]
  },
  {
    "id": "bc518e8a.c0e59",
    "type": "disconnect",
    "z": "fd24d0de.8eac3",
    "name": "",
    "key": "",
    "password": "",
    "x": 370,
    "y": 140,
    "wires": [["edf7fd9d.bf78"]]
  },
  {
    "id": "7f361fdf.b44f4",
    "type": "inject",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 110,
    "y": 180,
    "wires": [["fc3b147e.bd8de8"]]
  },
  {
    "id": "fc3b147e.bd8de8",
    "type": "keepAlive",
    "z": "fd24d0de.8eac3",
    "name": "",
    "key": "",
    "password": "",
    "x": 360,
    "y": 180,
    "wires": [["edf7fd9d.bf78"]]
  },
  {
    "id": "d4e248b0.092318",
    "type": "getRandomNumber",
    "z": "fd24d0de.8eac3",
    "name": "",
    "minimum": "-20",
    "maximum": "80",
    "readingsAmount": "",
    "boolean": false,
    "threshold": "",
    "x": 390,
    "y": 240,
    "wires": [["e124c594.19f568"]]
  },
  {
    "id": "e124c594.19f568",
    "type": "addSensorReading",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "T",
    "msgComplete": false,
    "x": 390,
    "y": 280,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "adeeb930.a26ee8",
    "type": "getRandomNumber",
    "z": "fd24d0de.8eac3",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "x": 390,
    "y": 320,
    "wires": [["f0b99578.f6e588"]]
  },
  {
    "id": "f0b99578.f6e588",
    "type": "addSensorReading",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "H",
    "msgComplete": false,
    "x": 390,
    "y": 360,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "277ae6f5.344d6a",
    "type": "getRandomNumber",
    "z": "fd24d0de.8eac3",
    "name": "",
    "minimum": "300",
    "maximum": "1100",
    "x": 390,
    "y": 400,
    "wires": [["c806f63f.c3d5b8"]]
  },
  {
    "id": "c806f63f.c3d5b8",
    "type": "addSensorReading",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "P",
    "msgComplete": false,
    "x": 390,
    "y": 440,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "eb27a208.cc62f",
    "type": "outboundMessageQueue",
    "z": "fd24d0de.8eac3",
    "maxData": "5",
    "x": 930,
    "y": 440,
    "wires": [["d2d52fa8.3811a"]]
  },
  {
    "id": "edf7fd9d.bf78",
    "type": "mqtt out",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "f98d13e4.d8a59",
    "x": 1070,
    "y": 320,
    "wires": []
  },
  {
    "id": "d2d52fa8.3811a",
    "type": "publish",
    "z": "fd24d0de.8eac3",
    "name": "",
    "x": 880,
    "y": 400,
    "wires": [["42026fc9.7416a"]]
  },
  {
    "id": "b4460717.154ef8",
    "type": "join",
    "z": "fd24d0de.8eac3",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 730,
    "y": 440,
    "wires": [["eb27a208.cc62f"]]
  },
  {
    "id": "454cd448.7a525c",
    "type": "getRandomNumber",
    "z": "fd24d0de.8eac3",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "3",
    "boolean": false,
    "x": 390,
    "y": 480,
    "wires": [["747c050b.78e18c"]]
  },
  {
    "id": "747c050b.78e18c",
    "type": "addSensorReading",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "ACL",
    "msgComplete": false,
    "x": 390,
    "y": 520,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "2990da32.169716",
    "type": "mqtt in",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "actuators/commands/{device_key}/SL",
    "qos": "2",
    "broker": "d18ba115.12cda",
    "x": 170,
    "y": 820,
    "wires": [["ae17dfd4.627f2"]]
  },
  {
    "id": "706fa65b.963f88",
    "type": "actuationHandler",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "SL",
    "returnValue": true,
    "msgComplete": true,
    "x": 570,
    "y": 820,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "74fe025a.8da79c",
    "type": "connect",
    "z": "fd24d0de.8eac3",
    "key": "",
    "password": "",
    "x": 260,
    "y": 40,
    "wires": [["61dd981.2c20268", "a044e9f0.4a2b18"]]
  },
  {
    "id": "31f1b66b.8e2eba",
    "type": "getRandomNumber",
    "z": "fd24d0de.8eac3",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "",
    "boolean": true,
    "threshold": "80",
    "x": 390,
    "y": 720,
    "wires": [["66404c47.3975a4"]]
  },
  {
    "id": "66404c47.3975a4",
    "type": "addAlarm",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "HH",
    "msgComplete": true,
    "x": 360,
    "y": 760,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "a044e9f0.4a2b18",
    "type": "actuatorStatusProvider",
    "z": "fd24d0de.8eac3",
    "actuatorReferences": "SW; SL",
    "x": 460,
    "y": 80,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "61dd981.2c20268",
    "type": "configurationProvider",
    "z": "fd24d0de.8eac3",
    "configurationReferences": "config_1;config_2;config_3;config_4;",
    "configurationValues": "0;false;configuration_3;configuration_4a,configuration_4b,configuration_4c",
    "msgComplete": true,
    "x": 460,
    "y": 40,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "42026fc9.7416a",
    "type": "json",
    "z": "fd24d0de.8eac3",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 870,
    "y": 360,
    "wires": [["edf7fd9d.bf78"]]
  },
  {
    "id": "ae17dfd4.627f2",
    "type": "json",
    "z": "fd24d0de.8eac3",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 410,
    "y": 820,
    "wires": [["706fa65b.963f88"]]
  },
  {
    "id": "337b75bf.a9eb8a",
    "type": "actuationHandler",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "SW",
    "returnValue": false,
    "msgComplete": false,
    "x": 390,
    "y": 600,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "a2f8867f.85ccc8",
    "type": "getRandomNumber",
    "z": "fd24d0de.8eac3",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "",
    "boolean": true,
    "threshold": "50",
    "x": 390,
    "y": 560,
    "wires": [["337b75bf.a9eb8a"]]
  },
  {
    "id": "e6d2b0ee.bb44d",
    "type": "mqtt in",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "actuators/commands/{device_key}/SW",
    "qos": "2",
    "broker": "d18ba115.12cda",
    "x": 170,
    "y": 880,
    "wires": [["1bd48bf7.b14af4"]]
  },
  {
    "id": "660c485.8f3fab8",
    "type": "actuationHandler",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "SW",
    "returnValue": true,
    "msgComplete": true,
    "x": 590,
    "y": 880,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "1bd48bf7.b14af4",
    "type": "json",
    "z": "fd24d0de.8eac3",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 880,
    "wires": [["660c485.8f3fab8"]]
  },
  {
    "id": "5ad7e48f.6c725c",
    "type": "mqtt in",
    "z": "fd24d0de.8eac3",
    "name": "",
    "topic": "configurations/commands/{device_key}",
    "qos": "2",
    "broker": "d18ba115.12cda",
    "x": 170,
    "y": 940,
    "wires": [["c6adf7e6.47a9f8"]]
  },
  {
    "id": "6f7d225d.8d5e3c",
    "type": "configurationHandler",
    "z": "fd24d0de.8eac3",
    "configurationReferences": "",
    "configurationValues": "",
    "x": 600,
    "y": 940,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "c6adf7e6.47a9f8",
    "type": "json",
    "z": "fd24d0de.8eac3",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 940,
    "wires": [["6f7d225d.8d5e3c"]]
  },
  {
    "id": "21a4e111.c71bfe",
    "type": "actuationHandler",
    "z": "fd24d0de.8eac3",
    "value": "",
    "reference": "SL",
    "returnValue": false,
    "msgComplete": false,
    "x": 390,
    "y": 680,
    "wires": [["b4460717.154ef8"]]
  },
  {
    "id": "c801ac5e.49909",
    "type": "getRandomNumber",
    "z": "fd24d0de.8eac3",
    "name": "",
    "minimum": "0",
    "maximum": "100",
    "readingsAmount": "",
    "boolean": false,
    "threshold": "",
    "x": 390,
    "y": 640,
    "wires": [["21a4e111.c71bfe"]]
  },
  {
    "id": "f98d13e4.d8a59",
    "type": "mqtt-broker",
    "z": "",
    "name": "WolkAbout Demo",
    "broker": "api-demo.wolkabout.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "Gone offline"
  },
  {
    "id": "d18ba115.12cda",
    "type": "mqtt-broker",
    "z": "",
    "name": "Verification Actuators",
    "broker": "api-verification2.wolksense.com",
    "port": "1883",
    "clientid": "9dh57te4ylcxb8ph",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "lastwill/9dh57te4ylcxb8ph",
    "closeQos": "2",
    "closeRetain": "false",
    "closePayload": "Gone offline",
    "willTopic": "lastwill/9dh57te4ylcxb8ph",
    "willQos": "2",
    "willRetain": "false",
    "willPayload": "Gone offline"
  }
]
